<form action="/task/add" method="post">
  <div class="form-floating mb-4">
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      placeholder="."
    />
    <label for="title" class="form-label">Title</label>
  </div>
  <div class="form-floating mb-4">
    <textarea
      name="description"
      id="textarea"
      class="form-control"
      placeholder="."
    ></textarea>
    <label for="textarea" class="form-label">Description</label>
  </div>
  <button type="submit" class="btn btn-success">ADD</button>
</form>